extends layout

block head
    script(src='/javascripts/dt/index.js')

block content
    div.panel.panel-default
        div.panel-heading.clearfix
            h3.panel-title.pull-left.dt-panel-title="话题"
            a#new-topic.btn.btn-primary.pull-right(href='/new_topic' target='_blank')="发布新话题"
        div.panel-body
            ul.list-group#chat-result
                each val in message
                    li.list-group-item= val
