extends layout

block head
    link(rel='stylesheet', href='/stylesheets/bootstrap-colorpicker.min.css')
    script(src='http://cdn.bootcss.com/socket.io/1.3.7/socket.io.min.js')
    script(src='/javascripts/lz-string.min.js')
    script(src='/javascripts/bootstrap-colorpicker.min.js')

block content
    div.jumbotron
        div.canvas-box
            canvas#apx3dCanvas
    script(src='/javascripts/dt/apx3d.js')