extends layout

block head
    link(rel='stylesheet', href='/stylesheets/sign.css')
    script(src='/javascripts/dt/index.js')
    
block content
    div.jumbotron
        h3= '~ 内有恶犬 请验明正身 ~'
        input.form-control.signform(type='text', placeholder='用户名')
        input.form-control.signform(type='password', placeholder='密码')
        p
            a.sign-submit.btn.btn-primary#signin(herf='' role='button')='登录'
            a.sign-submit.btn#signup(herf='#' role='button')='注册'